html,body{
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font: 12px/15px Helvetica Neue, Helvetica, Arial;
}

p, h1, h2, h3, h4, .my_role, .obfuscate, ul {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#holder {
	margin: 0 0 0 0;
    min-height: 100%;
    position:relative;
}

#archive-banners {
    background-image: url(../img/background-grid.gif);
}


#archive-banners .footer-container{
    bottom: 0;
    height: 125px; 
    left: 0;
    position: absolute;
    right: 0;
}

#archive-banners .content-container {
	background-image: url(../img/background-grid.gif);
	padding: 20px 25px 145px 25px;
}

#archive-banners header {
	background-color: #ffffff;
	-moz-box-shadow: 0px 1px 2px #000000;
	-webkit-box-shadow: 0px 1px 2px #000000;
	box-shadow: 0px 1px 2px #000000;
	padding-bottom: 15px;
}

#archive-banners header img {
    margin: 20px 20px 5px 20px;	
    padding: 0 0 0 0;
    float: left;	
}

#archive-banners header hgroup {
	padding-left: 120px;
	
}

#archive-banners header h1{
	font-size: 2.6em;
	margin: 0 0 0 0;
	padding: 35px 25px 10px 0px;
	text-align: left;
	line-height: 1em;
	color : #0072bc;
	font-weight: 300;

}

#archive-banners h3{
	color:#0072BC;
	margin: 0 0 0 0;
	padding: 20px 0 12px 0;
	text-align: left;
	text-shadow: 0px 1px 1px white;
}



#archive-banners header a {
	
	background-color: #f4f4f4;
	color: #61a6d3;
	text-decoration: none;
	padding:2px 4px 2px 4px;
	margin: 0 2px 0 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}


#archive-banners header a:hover{
	background-color: #ffcb08;
	color: #ffffff;
	text-decoration: none;
}

#archive-banners .content-container a {
	color: #ffcb08;
	text-decoration: none;
	padding:2px 4px 2px 4px;
	margin: 0 2px 0 1px;
	background-color: #1c3242;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}


#archive-banners .content-container a:visited{
	color: #ffcb08;
	text-decoration: none;
}

#archive-banners .content-container a:hover{
	color: #ffffff;
	text-decoration: none;
}

#archive-banners h4 {
	font-weight: 400;
}

footer small {
	margin-bottom: 0px;
}

li{
	padding:10px 0 10px 0;
}

ul{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
}

.column {
	padding: 0px;
	margin: 0 0 50px 0;
}

img {
	padding: 0px;
	margin: 0 30px 30px 0;
}

.banner_border {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	float: left;
	border: 10px solid white;
	line-height: 0px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.2);
}

.footer-container {
	background-image: linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -o-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
}

.footer-container footer {
    color: white;
    padding: 20px 0 0 0;
}

footer img{
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

footer small {
	display: block;
	width:100%;
	text-align: center;
	color: #b7c8d4;
	text-shadow: 0px 1px 0px black;
	margin: 10px 0 10px 0;
}


.centered {
	text-align: center;
}

.footer-container footer {
	text-align: center;

}

.top_icon {
	display: inline-block;
	position: absolute;
	top:-6px; 
	left:-6px;
	z-index: 10;
}