/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #ffcf0e;
    text-shadow: none;
}

::selection {
    background: #ffcf0e;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 12px/15px Helvetica Neue, Helvetica, Arial;
}

.wrapper {
    margin: 0 10px 0 10px;
}



/* ==============
    MOBILE: Menu
   ============== */



/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}


.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container {
	background-image: linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -o-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(22,46,62) 0%, rgb(34,68,92) 100%);
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==============
    Header:
   ============== */

p, h1, h2, h3, h4, .my_role, .obfuscate, ul {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1,h2,h3 {
	text-align: center;

}

h1 {
	color : #0072bc;
	font-size : 3.3em;
	font-weight: 300;
}

h2 {
	color:#303030;
	font-size : 1.1em;
	line-height: 1.1em;
	font-weight: 900;
	margin: 0 0 0 0;
}

header h3 {
	color:#303030;
	font-size : 1em;
	line-height: 1em;
	font-weight: 300;
	margin: 0 0 26px 0;
}

header p{
	max-width : 720px;
	margin:0 auto 20px auto;
	padding:0 12px 0 12px;
	text-align: justify;
}


header img {
	width: 280px;
	position: absolute;
	margin-top: 0px;
	text-align: center;
	display: block;
	left: 50%;
    margin-left: -140px;	
    pointer-events: none;
}




hgroup {
	border-top: 1px solid #f7f7f7;
	padding-top: 110px;
	margin-top: 40px;
}


.obfuscate {
	line-height: 15px;
	unicode-bidi: bidi-override; 
	direction: rtl;
	padding-left: 28px;
	background-image: url(../img/email_envelope.gif);
	background-repeat: no-repeat;
	background-position-y: 3px;
	padding-right: 10px;
	float: right;
	font-size: 13px;
	cursor: pointer;
	color: #445566;
}



.contact {
	cursor: pointer;
	float: left;
	width :100%;

	padding: 12px 0 12px 0;
	-webkit-tap-highlight-color: rgba(255,194,14,0.2);
}

.contact:hover {
	background-color: rgba(255,194,14,0.1);
}

.header-container
{
	padding-bottom: 20px;
}

nav h2 {
	color:#303030;
	font-size : 2.2em;
	line-height: 1em;
	font-weight: 300;
	margin: 6px 0 6px 0;
}

nav ul {
	width:300px;
	height:220px;
	display: block;
	margin: 20px auto 20px auto;
	padding: 0 0 0 0;
}

nav ul li {
	-webkit-tap-highlight-color: rgba(255,194,14,0.2);
}

nav ul li {
	float: left;
	padding-bottom: 30px;
	padding-right:45px;
}

nav ul li:nth-of-type(3n+0) {
	padding-right:0px;
}


hr {
	border-top-color : #f7f7f7;
	margin: 2px 0px 2px 0px;
}

article hr {
	clear: both;
}

.main-container {
	background-image: url(../img/background-grid.gif);
	box-shadow:inset 0px 1px 3px rgba(0, 0, 0, .2);
}


article {
	position: relative;
	max-width: 720px;
	background-color: #ffffff;
	border-radius: 5px;
	background-image: url(../img/panel-top-background_gradient.png);
	background-repeat: repeat-x;
	margin: 25px auto 45px auto;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.2);
}

article h1 {
	padding-top: 2px;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #404040;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .7);
	padding-bottom: 0;
	margin: 0 0 0 0;
}

article h2 {
	padding-top: 20px;
	color : #0072bc;
	font-weight: 300;
	font-size : 2em;
	text-align: left;
}

article p {
	text-align: justify;
}

article section p a
{
	background-color: #fff0ba;
	text-decoration: none;
	color: #222;
	padding:1px 2px 1px 2px;
	margin: 0 0px 0 0px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

article section p a:hover{
	background-color: #0072bc;
	color: #ffffff;
	text-decoration: none;
}


article#design{
	background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}

article#design h2{
	text-align: center;
}

article#design ul, article#design li
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: block;
	width: 100%;
	position: relative;
}

article#design ul li {
	margin-top: 30px;
	margin-bottom: 60px;
}

article#design img {
	max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

footer img{
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

footer small {
	display: block;
	width:100%;
	text-align: center;
	color: #b7c8d4;
	text-shadow: 0px 1px 0px black;
	margin: 10px 0 10px 0;
}

.colophonToggle {
	color: #b7c8d4;
	text-shadow: 0px 1px 0px black;
	background-color: #142e3f;
	text-decoration: none;
	padding:2px 6px 2px 6px;
	margin: 0px 2px 0 2px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    inset 0px 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         inset 0px 2px 2px rgba(0, 0, 0, 0.5);
	
	box-shadow:         0px 1px 0px rgba(255, 255, 255, 0.1);

}

#colophon {
	display: none;
}

.centered {
	text-align: center;
}

.footer-container footer {
	text-align: center;

}

.top_icon {
	display: inline-block;
	position: absolute;
	top:-6px; 
	left:-6px;
	z-index: 10;
}

#colophon {
	width:300px;
	margin: 0 auto;
}

#colophon h4 {
	line-height: 1.2em;
	font-size: 1.2em;
	margin-bottom: 2px;
	padding:0 0 0 0;
} 

#colophon p {
	font-size: 0.9em;
	margin-top: 2px;
}

#colophon ul{
	font-size: 0.9em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style: none;
}

#colophon a{
	color: #ffcb08;
}


#dulux .top_icon 		{		top:8px; 		left:-8px;		}

#corona .top_icon 		{		top:-16px; 		left:-8px;		}
#mercedes .top_icon 	{		top:-10px; 		left:-10px;		}
#carlton .top_icon 		{		top:-16px; 		left:-11px;		}

#yellow .top_icon 		{		top:-10px; 		left:-10px;		}
#smart .top_icon 		{		top:8px; 		left:-8px;		}


.my_role {
	font-weight: 900;
	font-size: 0.88em;
	color:#b8bfc3;
}


.grey-label {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cecece), color-stop(1, #aeaeae) );
	background:-moz-linear-gradient( center top, #cecece 5%, #aeaeae 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#aeaeae');
	background-color:#cecece;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	color:#ffffff;
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	font-weight: 900;
	padding:2px 6px;
	margin:0 5px 0 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);
}

/* ==============
    button css:
   ============== */


.cta_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4d3f0,0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4d3f0,0px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow:inset 0px 1px 0px #a4d3f0,0px 1px 2px rgba(0, 0, 0, 0.2);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72bbe8), color-stop(1, #439bda) );
	background:-moz-linear-gradient( center top, #72bbe8 5%, #439bda 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72bbe8', endColorstr='#439bda');
	background-color:#72bbe8;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #277dba;
	display:inline-block;
	color:#ffffff;
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size:1em;
	font-weight: 700;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1f66b2;
}.cta_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #439bda), color-stop(1, #72bbe8) );
	background:-moz-linear-gradient( center top, #439bda 5%, #72bbe8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#439bda', endColorstr='#72bbe8');
	background-color:#439bda;
}.cta_button:active {
	position:relative;
	top:1px;
}

footer .cta_button {
	margin:10px 10px 10px 10px;
}


/* ==============
    Responsive slides:
   ============== */

/*  http://responsiveslides.com v1.32 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }




/*

.slides-preview-container {
	position: relative;
	float: left;
	width: 100%;
	height: 300px;
}
*/


.slides-preview-container {
  margin-bottom: 0px;
  position: relative;
  float: left;
  width: 100%;
}

.slides-preview {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.slides-preview li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}


/*
.slides-preview img {
	display: block;
	position: relative;
	z-index: 1;
	overflow:hidden;
	height: 100%;
	width: 720px;
	border: 0;
	left:50%;
	margin-left:-360px;
}
*/

.slides-preview img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}

.slides-preview_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0.2);
	top: 98%;
	left: 0;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 49px;
	width: 48px;
	margin-top: -45px;
}



.events {
	list-style: none;
	text-align: center;
}

article section {
	padding : 0px 20px 20px 20px;
	margin : 0 0 0 0;
	float: left;
}


article footer {
	padding : 12px 0px 15px 0px;
	text-align: center;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ==========================================================================
   Retina styles
   ========================================================================== */

.slides-preview_nav.next {
	background: transparent url(../img/panel-right-arrow.png) no-repeat right top;
	background-position-x: 0px;
	left: auto;
	right: -7px;
}

.slides-preview_nav.prev {
	background-position-x: 0px;
	margin-left: -7px;
	background: transparent url(../img/panel-left-arrow.png) no-repeat left top;
}

.slides-preview_nav.next:hover {
	background: transparent url(../img/panel-right-arrow.png) no-repeat right top;
	background-position-x: -48px;
}

.slides-preview_nav.prev:hover {
	background: transparent url(../img/panel-left-arrow.png) no-repeat right top;
	background-position-x: -48px;
}


@media all and (-webkit-min-device-pixel-ratio: 1.5){

	
	.slides-preview_nav.next {
		background: transparent url(../img/panel-right-arrow@2x.png) no-repeat right top;
		background-position-x: 0px;
		background-size: 96px 50px;
		left: auto;
		right: -7px;
	}
	
	.slides-preview_nav.prev {
		background-size: 96px 50px;
		background-position-x: 0px;
		margin-left: -7px;
		background: transparent url(../img/panel-left-arrow@2x.png) no-repeat left top;
	}

	.slides-preview_nav.next:hover {
		background: transparent url(../img/panel-right-arrow@2x.png) no-repeat right top;
		background-position-x: -48px;
		background-size: 96px 50px;
	}

	.slides-preview_nav.prev:hover {
		background: transparent url(../img/panel-left-arrow@2x.png) no-repeat right top;
		background-position-x: -48px;
		background-size: 96px 50px;
	}
	
	article {
		background-image: url(../img/panel-top-background_gradient@2x.png);
		background-repeat: repeat-x;
		background-size: 1px 18px;
	}
	
	.main-container {
		background-image: url(../img/background-grid.gif);
		background-size: 26px 26px;
	}
	
	.obfuscate {
		background-image: url(../img/email_envelope@2x.gif);
		background-size: 20px 12px;

	}

}



@media only screen and (min-width: 740px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */


	
	

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
    


    article section {
		width : 439px;
		padding : 0px 20px 20px 20px;
		margin : 0 0 0 0;	
		float: left;
		border-right: 1px solid #f4f6f7;
	}
	
		
	article footer {
		width : 240px;
		padding : 15px 0px 0px 0px;
		text-align: center;
		float: left;
	}
	
	article hr {
		clear: none;
		display: none;
	}
	
	nav h2 {
		color:#303030;
		font-size : 2.2em;
		line-height: 1em;
		font-weight: 300;
		margin: 6px 0 6px 0;
	}
	
	nav ul {
		width:740px;
		display: block;
		height:50px;
		margin: 20px auto 20px auto;
		padding: 0 0 0 0;
	}
	
	nav ul li {
		float: left;
		padding-bottom: 30px;
		padding-right:13px;
	}
	
	nav ul li:nth-of-type(3),nav ul li:nth-of-type(6) {
		padding-right:13px;
	}
	
	nav ul li:nth-of-type(9) {
		padding-right:0px;
	}

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}